<script>
export default {
  name: 'Sponsors',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section :id="data.anchor_id" class="sponsors">
    <SlpContainer>
      <SlpRow>
        <SlpColumn>
          <SlpTypography variant="heading2-bold" tag="h2">
            Sponsors
          </SlpTypography>
          <article
            v-for="tier in data.tiers"
            :key="tier.tier_name"
            class="tier"
          >
            <SlpTypography tag="h3" variant="heading3">{{
              tier.tier_name
            }}</SlpTypography>
            <div class="logo-wrapper">
              <img
                v-for="logo in tier.logos"
                :key="logo.image_alt"
                :src="logo.image_url"
                :alt="logo.image_alt"
              />
            </div>
          </article>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.sponsors {
  margin-top: $spacing-24;
  padding-top: $spacing-96;
  padding-bottom: $spacing-48;

  h2 {
    margin-bottom: $spacing-32;
  }
}
.tier {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: $spacing-32 0;
  border-top: 1px solid $color-surface-200;

  &:last-of-type {
    border-bottom: 1px solid $color-surface-200;
  }

  h3 {
    display: block;
    flex: 0 0 25%;
    margin-bottom: $spacing-32;
  }

  .logo-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;

    img {
      max-width: 100px;
      width: 100%;
    }
  }
}
</style>
